Package: firefly-logger-appliance
Version: 1.0.0-1.deb12
Architecture: all
Maintainer: Jason McCormick <jason@mfamily.org>
Installed-Size: 13
Depends: cockpit, cockpit-networkmanager, cockpit-packagekit, cockpit-sosreport, cockpit-wifimanager, cockpit-storaged, cockpit-system, cockpit-ws, firewalld, vim-nox, avahi-daemon, firefly-logger
Section: hamradio
Priority: optional
Homepage: https://github.com/jxmx/firefly-logger-appliance
Description: Firefly Logger Appliance tools and configs
